*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }
  @media (min-width: 993px)                                  /*large device adove 993px*/
  {

  }

     nav{                                                                                 /*navbar part*/
    background-color:#1A0B2E;
    color:white;
    display:flex;
    justify-content: space-between;
    padding: 16px 150px;
    align-items: center;
}
.logo                                                                                  /* logo part   */
{
    font-family: inter;
    font-size: 35px;
   
}
.logo span{
    background:linear-gradient(to bottom,rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.link                                                                                /*menu items*/
{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    gap:30px;
   
}
.link1
{
    color:white;
    text-decoration: none;
}
.button1                                                                            /*subscribe button*/
{
   
    background:linear-gradient(45deg,#f9ec3b, #ff0099, #9d00ff);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 16px;
    display:flex;
    justify-content: center;
    align-items: center;
   gap:3px;
   
}
 .banner                                                          /*banner section*/
 {
    height:100%;
    width:100%;
background-image: url('./asset/hero-bg.png');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
 display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    padding-top: 50px;
    padding-bottom: 40px;
 }
.container                                            /*set the circle*/
 {
    position:relative;
  height:350px;
  width:350px;
  margin-top:0px;
  margin-bottom:40px;
 }  
 .circle img{ 
   height: 100%;
   width:100%;
   object-fit: contain;
 }
.mic                                                       /*set the mic*/
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 120px;
    
}
#green                                                  /*the green section on the mic*/
{
    background-color: #00FF88;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 500;
    padding:8px 16px;
    border-radius: 50px;
    color:black;
  position: absolute;
   top:5px;
    right: 50px;
    box-shadow: 5px white;
box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    
}
#title                                    /*brand name on the banner*/
{
    font-family: inter;
    font-size:50px;
    margin-bottom: 20px;
}
#line                                     /*text line of the banner*/
{
    color: rgba(255, 255, 255, 0.595);
}
.button{                                   /*buttons of the banner*/
    margin-top:20px;
    display:flex;
    justify-content: center;
    gap:8px;
   
}
.button2
{
    display:flex;
    align-items: center;
    padding:12.5px 20px;
    border:none;
    background:linear-gradient(45deg,#f9ec3b, #ff0099, #9d00ff);
    border-radius:50px;
     font-size:15px;
     font-weight: 400;
     gap:10px;
     color:white;
}
.button3
{
     display:flex;
    align-items: center;
    padding:11px 19px;
     border-radius:50px;
     font-size:15px;
     font-weight: 400;
     gap:10px;
     color:#00FF88;
    border:none;
     background:transparent;
     border:1px solid #00FF88;
}
.about                                      /*about section*/
{
    height:100%;
    width:100%;
    background-color:#1A0B2E ;
    color:rgb(255, 255, 255);
    padding:100px 50px 120px 50px;
    
     display:flex;
     justify-content: center;
    align-items: center;
    flex-direction: column;

  
}
#about_heading
{
    font-family:inter;
    font-size: 40px;
    margin-bottom: 20px;
}
.para
{
    font-family: inter;
    font-weight: 200;
    font-size:15px;
    color: rgba(240, 248, 255, 0.7);
   
  
}
.para1
{
    margin-top:20px;
    margin-bottom:50px;
}
hr{
    width:100%;
    border: none;
    background-color:rgba(255, 255, 255, 0.797);
    height:0.5px;
}
.boxes
{
    margin: 50px  ;
    
     display:flex;
     justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap:70px;
    line-height:1;
}
.box{
    font-family: inter;
    font-size: 50px;
    font-weight: 900;
    color: #00FF88;
  

}
.text{
    font-weight: 200;
    font-size: 15px;
    color:white;
}

