*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }
  nav{                                                                                 /*navbar part*/
    background-color:#1A0B2E;
    color:white;
    display:flex;
    justify-content: space-between;
    padding: 16px 150px;
    align-items: center;
}
.logo                                                                                  /* logo part   */
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
   
}
.logo span{
    background:linear-gradient(to bottom,rgba(145, 0, 248, 1),rgba(251, 9, 180, 1),rgba(247, 233, 63, 1));
    -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.link                                                                                /*menu items*/
{
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    gap:30px;
   
}
.link1
{
    color:white;
    text-decoration: none;
}
.button1                                                                            /*subscribe button*/
{
   
    background:linear-gradient(45deg,#f9ec3b, #ff0099, #9d00ff);
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 16px;
    display:flex;
    justify-content: center;
    align-items: center;
   gap:3px;
   
}
